<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MentalWell</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
        <link rel="stylesheet" href="/src/scripts/styles/dropdownprofil.css">
    </head>
    <body>
        <div class="dropdown-container">
            <div class="profile-button">
              <i class="fas fa-user"></i>
              <span>Profil Saya</span>
            </div>
            <div class="logout-button">
              <i class="fas fa-sign-out-alt"></i>
              <span>Keluar</span>
            </div>
        </div>
    </body>
</html>