<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/scripts/styles/editprofilpasien.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
</head>
<body>
    <header class="navbar">
        <div class="navbar-brand">
            <h1>MentalWell</h1>
        </div>
        <div class="navbar-list">
            <ul class="navbar-list-item">
                <li class="list-item"><a href="https://wwww.facebook.com">Beranda</a></li>
                <li class="list-item"><a href="#">Artikel</a></li>
                <li class="list-item"><a href="#">Riwayat</a></li>
                <li class="list-item"><a href="#">Tentang Kami</a></li>
            </ul>
            <div class="button">
                <button type="submit">Masuk</button>
            </div>
        </div>
    </header>
    <div class="editpasien-container">
        <div class="editpasien-title">
            <h2>Profil Pengguna</h2>
        </div>

        <div class="profil-container">
        <div class="profil-image">
        <img src="/src/public/beranda/man.png" alt="gambar profil">
        </div>
        <h3>Natasya</h3>
        </div>

        <form class="editpasien-form">
            <div class="form-control">
                <input class="form-input" type="email" id="email" name="email" placeholder="Email : natasya123@gmail.com" required />
            </div>
            <div class="form-control">
                <i class="fas fa-edit"></i>
                <input class="form-input" type="nowa" id="nowa" name="nowa" placeholder="Nomor Whatsapp : 081234567890" required />
            </div>
            <div class="form-control">
                <i class="fas fa-edit"></i>
                <input class="form-input" type="tgllahir" id="tgllahir" name="tgllahir" placeholder="Tanggal Lahir : 08 Februari 2000" required />
            </div>
            <div class="form-control">
                <i class="fas fa-edit"></i>
                <input class="form-input" type="text" id="gender" name="gender" placeholder="Jenis Kelamin : Perempuan" required />
            </div>
            <button class="simpan-btn" type="submit">Simpan</button>
        </form>
    </div>
    <footer>
        <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
</body>
</html>
