<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mental Well</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-brand">
        <h1>Mental Well</h1>
      </div>
      <div class="navbar-list">
        <ul class="navbar-list-item">
          <li class="list-item"><a href="#">Beranda</a></li>
          <li class="list-item"><a href="#">Artikel</a></li>
          <li class="list-item"><a href="#">Riwayat</a></li>
          <li class="list-item"><a href="#">Tentang Kami</a></li>
        </ul>
        <div class="button">
            <button type="submit">Masuk</button>
        </div>
      </div>
    </header>
    <div class="jumbotron">
      <div class="hero"></div>
    </div>
    <main></main>
    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
      <span>Mantap ini percobaan</span>
    </footer>
  </body>
</html>
