<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentalWell</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-brand">
        <h1>MentalWell</h1>
      </div>
      <div class="navbar-list">
        <ul class="navbar-list-item">
          <li class="list-item"><a href="#">Beranda</a></li>
          <li class="list-item"><a href="#">Artikel</a></li>
          <li class="list-item"><a href="#">Riwayat</a></li>
          <li class="list-item"><a href="#">Tentang Kami</a></li>
        </ul>
        <div class="button">
          <button type="submit">Masuk</button>
        </div>
      </div>
    </header>
    <div class="jumbotron">
      <div class="hero">
          <h2>Pikiran Yang Baik, <br> Dirimu Yang Lebih Baik</h2>
          <p>Temukan ketenanganmu di sini bersama psikolog professional yang siap <br/>membantu menyelesaikan masalahmu,mari berproses bersama MentalWell</p>
      </div>
      <div class="hero-image">
        <img src="../../public/Group 40 (2).png" alt="Gambar Logo">
      </div>
    </div>
    <main>
        <div class="content">
          <h2>Ruang Aman dan Nyaman untuk Ceritakan Masalahmu</h2>
          <p>Beragam pilihan ruang aman sesuai kenyamanan dan kebutuhanmu</p>
        </div>
        <div class="container-konsultasi">
          <div class="content-konsultasi">
            <div class="konsultasi-brand">
              <img src="../../public/Group 38.png" alt="Chat">
              <h3>Chat</h3>
            </div>
            <p>Sesi konseling melalui Metode Chat dengan Psikolog</p>
          </div>
          <div class="content-konsultasi">
            <div class="konsultasi-brand">
              <img src="../../public/Group 40.png" alt="Call">
              <h3>Call</h3>
            </div>
            <p>Sesi konseling melalui Metode Call dengan Psikolog</p>
          </div>
          <div class="content-konsultasi">
            <div class="konsultasi-brand">
              <img src="../../public/Group 40 (1).png" alt="Zoom">
              <h3>Video</h3>
            </div>
            <p>Sesi konseling melalui Metode Video dengan Psikolog</p>
          </div>
        </div>  
    </main>
    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
  </body>
</html>
