<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentalWell</title>
    <link rel="stylesheet" href="/src/scripts/styles/riwayat.css">
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-brand">
        <h1>MentalWell</h1>
      </div>
      <div class="navbar-list">
        <ul class="navbar-list-item">
          <li class="list-item"><a href="#">Beranda</a></li>
          <li class="list-item"><a href="#">Artikel</a></li>
          <li class="list-item"><a href="#">Riwayat</a></li>
          <li class="list-item"><a href="#">Tentang Kami</a></li>
        </ul>
        <div class="button">
          <img src="/src/public/profil/gibran.jpg" alt="Foto User" id="photoUser" >
          <button type="submit">Natasya</button>
        </div>
      </div>
    </header>

    <main>
      <h2>Riwayat Konseling</h2>
      <div class="content-riwayat">
        <div class="container-riwayat">
          <img 
            src="/src/public/profil/gibran.jpg" 
            alt="Foto Psikolog"
            id="photoPsycholog" 
          >
          <div class="info-riwayat">
            <div class="info-text">
              <p>
                John Doe M.Si., M.Psi., Psikolog<br>
                27 November 2023<br>
                16:00 - 17:00<br>
                Via Video Call  
              </p>
              <p><span class="status-riwayat">Belum selesai</span></p>
            </div>
            <button type="button" id="button-riwayat">ISI ULASAN</button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
  </body>
</html>
