<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/src/scripts/styles/tentangkami.css">
    <title>Tentang Kami</title>
  </head>
  <body>
    <header>
      <h1>Tentang Kami</h1>
      <p>
        MentalWell adalah platform kesehatan mental yang inovatif, bertujuan
        memberikan akses mudah dan terpercaya ke layanan penyuluhan dan
        konseling psikologis secara online. 
        
        MentalWell dirancang untuk mendukung
        kesejahteraan emosional dengan menyediakan sesi konseling online yang
        membantu pengguna menjalani perjalanan kesehatan mental mereka.
      </p>
    </header>

    <section id="tim-pengembang">
      <h2>Tim Pengembang</h2>

      <!-- Profil Pengembang 1 -->
      <div class="team-member">
        <img src="/src/public/profil/auni.jpg" alt="Foto Ahmad Ramadhan Auni" />
        <h3>Ahmad Ramadhan Auni</h3>
        <p> Universitas Negeri Semarang 
          DevOps Engineer | Backend Web Developer</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/ahmad-ramadhan-auni" target="_blank" rel="noopener">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/auni-st" target="_blank" rel="noopener">
            <i class="fab fa-github"></i> GitHub 
          </a>
        </div>
      </div>
      
      <!-- Profil Pengembang 2 -->
      <div class="team-member">
        <img src="/src/public/profil/rahman.jpg" alt="Foto Rahman Hakim" />
        <h3>Rahman Hakim</h3>
        <p>Universitas Amikom Yogyakarta</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/rahman-hakim-69641227a/" target="_blank" rel="noopener">
          <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/Rahmanhakim7" target="_blank" rel="noopener">
          <i class="fab fa-github"></i> GitHub 
          </a>
        </div>
      </div>

      <!-- Profil Pengembang 3 -->
      <div class="team-member">
        <img src="/src/public/profil/gibran.jpg" alt="Foto Gibran Alfarabi" />
        <h3>Gibran Alfarabi</h3>
        <p>Universitas Lampung 
          Frontend Web Developer</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/gibran-alfarabi/" target="_blank" rel="noopener">
          <i class="fab fa-linkedin"></i> LinkedIn
          </a>
          <a href="https://github.com/gibranalfarabi" target="_blank" rel="noopener">
          <i class="fab fa-github"></i> GitHub 
          </a>
        </div>
      </div>

      <!-- Profil Pengembang 4 -->
      <div class="team-member">
        <img src="/src/public/profil/foto_rizki.jpg" alt="Foto Rizki Septi Ardi" />
        <h3>Rizki Septi Ardi</h3>
        <p>Universitas</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/linkedin_pengembang4" target="_blank" rel="noopener">
          <i class="fab fa-linkedin"></i> LinkedIn </a>
          <a href="https://github.com/github_pengembang4" target="_blank" rel="noopener">
          <i class="fab fa-github"></i> GitHub 
          </a>
        </div>
      </div>

      <!-- Profil Pengembang 5 -->
      <div class="team-member">
        <img src="src/public/profil/foto_echa.jpg" alt="Foto Echa Andrea Gustiar" />
        <h3>Echa Andrea Gustiar</h3>
        <p>Universitas Lampung 
          UI UX Designer</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/echa-andrea-gustiar" target="_blank" rel="noopener">
          <i class="fab fa-linkedin"></i> LinkedIn </a>
          <a href="https://github.com/EchaAndrea" target="_blank" rel="noopener">
          <i class="fab fa-github"></i> GitHub </a>
        </div>
      </div>
    </section>

  </body>
</html>
