<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artikel Mentalwell</title>
    <link rel="stylesheet" href="/src/styles/artikel.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <script
      type="module"
      src="/src/scripts/components/navbar-masuk.js"
      defer
    ></script>
  </head>
  <body>
    <!-- navbar components -->
    <header class="navbar">
      <navbar-masuk></navbar-masuk>
    </header>

    <!-- <header class="navbar">
      <div class="navbar-brand">
        <h1>MentalWell</h1>
      </div>
      <div class="navbar-list">
        <ul class="navbar-list-item">
          <li class="list-item"><a href="./">Beranda</a></li>
          <li class="list-item"><a href="/artikel">Artikel</a></li>
          <li class="list-item"><a href="/listpsikolog">Cari Psikolog</a></li>
          <li class="list-item"><a href="/riwayat">Riwayat</a></li>
          <li class="list-item"><a href="/tentangkami">Tentang Kami</a></li>
        </ul>
        <div class="button">
          <button type="button" id="btnnMasuk" onclick="openLoginPopup()">
            Masuk
          </button>
        </div>
        <div class="button-user">
          <img src="/src/public/beranda/man.png" alt="Foto User" id="photoUser" />
          <button type="submit">Natasya</button>
        </div>
      </div>
    </header> -->
    <main>
      <section class="articel">
        <form class="search-articel" id="searchForm">
          <input
            type="text"
            id="searchInput"
            placeholder="Cari artikel berdasarkan judul"
          />
          <div class="button-search">
            <button type="submit" id="searchButton">
              <i class="fas fa-search"></i>Cari
            </button>
          </div>
        </form>
        x`
      </section>
      <section class="content-articel" id="content-articel">
        <article>
                <div class="image-articel">
                    <img src="/src/public/articel/articel1.png" alt="articel">
                </div>
                <h2>Judul Artikel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, beatae! Placeat, labore blanditiis quo ipsum magni excepturi asperiores, provident sed expedita aliquid, modi quibusdam. Beatae quasi earum a voluptates ducimus!</p>
                <div class="button-articel">
                    <button type="button"  onclick="redirectToDetail()"> Baca Selengkapnya</button>
                </div>
            </article>
            <article>
                <div class="image-articel">
                    <img src="/src/public/articel/articel2.png" alt="articel">
                </div>
                <h2>Judul Artikel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, beatae! Placeat, labore blanditiis quo ipsum magni excepturi asperiores, provident sed expedita aliquid, modi quibusdam. Beatae quasi earum a voluptates ducimus!</p>
                <div class="button-articel">
                    <button type="button" onclick="redirectToDetail()"> Baca Selengkapnya</button>
                </div>
            </article>
            <article>
                <div class="image-articel">
                    <img src="/src/public/articel/articel3.png" alt="articel">
                </div>
                <h2>Judul Artikel</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, beatae! Placeat, labore blanditiis quo ipsum magni excepturi asperiores, provident sed expedita aliquid, modi quibusdam. Beatae quasi earum a voluptates ducimus!</p>
                <div class="button-articel">
                    <button type="button" onclick="redirectToDetail()"> Baca Selengkapnya</button>
                </div>
            </article>
      </section>
      <script src="/src/scripts/views/pages/articel.js"></script>
      <script src="/src/scripts/views/pages/searcharticel.js"></script>
    </main>
    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
  </body>
</html>
