<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mentalwell</title>
    <link rel="icon" href="/src/public/logo/3.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/styles/artikel.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <script type="module" src="/src/scripts/components/navbar-masuk.js" defer></script>
  </head>
  <body>
    <!-- navbar components -->
    <navbar-masuk></navbar-masuk>

    <!-- <header class="navbar">
      <div class="navbar-brand">
        <h1>MentalWell</h1>
      </div>
      <div class="navbar-list">
        <ul class="navbar-list-item">
          <li class="list-item"><a href="./">Beranda</a></li>
          <li class="list-item"><a href="/artikel">Artikel</a></li>
          <li class="list-item"><a href="/listpsikolog">Cari Psikolog</a></li>
          <li class="list-item"><a href="/riwayat">Riwayat</a></li>
          <li class="list-item"><a href="/tentangkami">Tentang Kami</a></li>
        </ul>
        <div class="button">
          <button type="button" id="btnnMasuk" onclick="openLoginPopup()">
            Masuk
          </button>
        </div>
        <div class="button-user">
          <img src="/src/public/beranda/man.png" alt="Foto User" id="photoUser" />
          <button type="submit">Natasya</button>
        </div>
      </div>
    </header> -->
    <main>
      <section class="articel">
        <form class="search-articel" id="searchForm">
          <input type="text" id="searchInput" placeholder="Cari artikel berdasarkan judul" />
          <div class="button-search">
            <button type="submit" id="searchButton"><i class="fas fa-search"></i>Cari</button>
          </div>
        </form>
      </section>
      <section class="content-articel" id="content-articel"></section>
      <script src="/src/scripts/views/pages/articel.js"></script>
      <script src="/src/scripts/views/pages/searcharticel.js"></script>
    </main>
    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
  </body>
</html>
