<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/src/public/logo/logoicon.png" type="image/x-icon">
  <title>MentalWell</title>
  <link rel="stylesheet" href="/src/styles/dashboardpsikolog.css" />
  <script type="module" src="/src/scripts/components/navbar-user.js" defer></script>
  <script type="module" src="/src/scripts/components/navbar-psikolog.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
  <!-- navbar components -->
  <navbar-psikolog></navbar-psikolog>
  <main>
    <section class="dashboard">
      <div class="content">
        <h1>Dashboard Psikolog</h1>
      </div>
      <div class="dropdown-container">
        <h3>Status Ketersediaan Anda : </h3>
        <select id="statusDropdown2" class="status-dropdown">
          <option class="option" value="available">Tersedia</option>
          <option class="option" value="unavailable">Tidak Tersedia</option>
        </select>
      </div>
      <div class="content-dashboard">
        <!-- Loading Spinner -->
        <table>
          <thead>
            <tr>
              <th>Nama Pasien</th>
              <th>Tanggal</th>
              <th>Jam (WIB)</th>
              <th>Jenis Konseling</th>
              <th>Status</th>
              <th>Aksi</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>Natasha</td>
              <td>27 November 2023</td>
              <td>08.00 - 09.00</td>
              <td>Video Call</td>
              <td>Selesai</td>
              <td>
                <img src="/src/public/dashboard/tulis.png" alt="tambah" />
              </td>
            </tr> -->
          </tbody>
        </table>
        <div id="loading-indicator" class="spinner" style="display: none;"></div>

      </div>
    </section>
  </main>
  <footer>
    <span> &copy; 2023 Mentalwell, Hak Cipta Dilindungi. </span>
  </footer>
</body>

</html>
<!-- <script src="/src/scripts/views/pages/availability.js"></script> -->
<script src="/src/scripts/views/pages/dashboardpsikolog.js"></script>