<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Detail Artikel</title>
  <link rel="icon" href="/src/public/logo/3.png" type="image/x-icon">
  <link rel="stylesheet" href="/src/styles/detailartikel.css" />
  <script type="module" src="/src/scripts/components/navbar-user.js" defer></script>
  <script type="module" src="/src/scripts/components/navbar-masuk.js" defer></script>
</head>

<body>
  <!-- navbar components -->
    <navbar-masuk id="masuk"></navbar-masuk>
  <main>
    <section class="detail-articel">
      <div class="judul-detail-articel" id="judul-detail-articel">
        <!-- <h2>Darurat, Indonesia dijulukan Fatherless Country!</h2> -->
      </div>
      <div class="garis-detail-articel">
        <hr />
      </div>
      <div class="created-articel" id="created-articel">
        <!-- <time datetime="2023-11-25T12:00">Created At: 25 november,2023</time> -->
      </div>
      <div class="image-detail-articel" id="image-detail-articel">
        <!-- <img src="/src/public/detailartikel/ibunda.png" alt="image detail artice" /> -->
      </div>
      <div class="content-detail-articel" id="content-detail-articel">
        <!-- <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
          praesentium, voluptates vero dolores officia dolore deleniti,
          dignissimos nihil porro libero aut, rem maiores. Unde ipsam quaerat
          minima vero dignissimos ab nulla. Veniam ducimus harum animi,
        </p> -->
      </div>
      <div class="referensi-articel" id="referensi-articel">
        <!-- <h2>Referensi</h2>-->
      </div>
    </section>
  </main>
  <footer>
    <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
  </footer>
</body>
</html>
<script src="/src/scripts/views/pages/detailartikel.js"></script>