<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentalWell</title>
    <link rel="icon" href="/src/public/logo/logoicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/styles/editprofilpsikolog.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <script
      type="module"
      src="/src/scripts/components/navbar-psikolog.js"
      defer
    ></script>
  </head>
  <body>
    <!-- navbar components -->
    <navbar-psikolog></navbar-psikolog>
    <!-- <header class="navbar">
      <div class="navbar-brand">
        <h1>MentalWell</h1>
      </div>
      <div class="navbar-list">
        <ul class="navbar-list-item">
          <li class="list-item"><a href="./">Beranda</a></li>
          <li class="list-item"><a href="/artikel">Artikel</a></li>
          <li class="list-item"><a href="/riwayat">Riwayat</a></li>
          <li class="list-item"><a href="/tentangkami">Tentang Kami</a></li>
        </ul>
        <div class="button-user">
          <img
            src="/src/public/beranda/man.png"
            alt="Foto User"
            id="photoUser"
          />
          <button type="submit">Adelia</button>
        </div>
      </div>
    </header> -->

    <div class="editpsikolog-container">
      <div class="editpsikolog-title">
        <h2>Profil Pengguna</h2>
      </div>
      <div class="profil-container">
        <div class="profil-image">
          <img src="/src/public/beranda/man.png" alt="gambar profil" />
        </div>
        <h3>Adelia Tatiana</h3>
      </div>
      <form class="editpsikolog-form">
        <div class="form-control">
          <label for="email">Email : </label>
          <div class="form-input" id="email">
            <h4>adelia123@gmail.com</h4>
          </div>
        </div>
        <div class="form-control">
          <label for="namapanggilan">Nama Panggilan :</label>
          <i class="fas fa-edit"></i>
          <input class="form-input" type="text" id="namapanggilan" name="namapanggilan" placeholder="Natasha" required />
        </div>
        <div class="form-control">
          <label for="nowa">Nomor Whatsapp :</label>
          <i class="fas fa-edit"></i>
          <input class="form-input" type="nowa" id="nowa" name="nowa" placeholder="081234567890" required />
        </div>
        <div class="form-control">
          <label for="tgllahir">Tanggal Lahir :</label>
          <input class="form-input" type="date" id="tgllahir" name="tgllahir" required />
        </div>
        <div class="form-control">
          <label for="gender">Jenis Kelamin :</label>
          <select class="form-input" id="gender" name="gender" required>
            <option value="laki-laki">Laki-laki</option>
            <option value="perempuan">Perempuan</option>
          </select>
        </div>
        <div class="form-control">
          <label for="topik">Topik Keahlian :</label>
          <i class="fas fa-edit"></i>
          <input class="form-input" type="text" id="topik" name="topik" placeholder="Suicidal, Fobia, Trauma" required />
        </div>
        <div class="form-control">
          <label for="bio">Bio :</label>
          <i class="fas fa-edit"></i>
          <input class="form-input" type="text" id="bio" name="bio" placeholder="Tulis bio mu disini..." required />
        </div>
        <div class="form-control">
          <label for="pengalaman">Pengalaman Praktik :</label>
          <select class="form-input" id="pengalaman" name="pengalaman" required>
            <option value="rendah">&lt; 2 Tahun</option>
            <option value="sedang">2 - 4 Tahun</option>
            <option value="tinggi">&gt; 4 Tahun</option>
          </select>
        </div>
        <button class="simpan-btn" type="submit">Simpan</button>
      </form>
    </div>
    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
  </body>
</html>
