<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentalWell</title>
    <link rel="icon" href="/src/public/logo/logoicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/styles/editprofilpasien.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <script type="module" src="/src/scripts/components/navbar-user.js" defer></script>
    <script type="module" src="/src/scripts/components/navbar-masuk.js" defer></script>
  </head>

  <body>
    <!-- navbar components -->
    <navbar-masuk id="masuk"></navbar-masuk>
    <!-- <navbar-user></navbar-user> -->
    <div class="editpasien-container">
      <div class="editpasien-title">
        <h2>Profil Pengguna</h2>
      </div>

      <div class="profil-container">
        <div class="profil-image" id="profil-image">
          <img src="" id="gambarprofil" alt="gambar profil"/>
        </div>
      </div>

      <form class="editpasien-form">
        <div class="form-control">
          <label for="email">Email : </label>
          <div class="form-input" id="email">
            <h4>natasya123@gmail.com</h4>
          </div>
        </div>
        <div class="form-control">
          <label for="namalengkap">Nama Lengkap :</label>
          <i id="editIcon" class="fas fa-edit"></i>
          <input class="form-input" type="text" id="namalengkap" name="namalengkap" placeholder="Natasha Alana Putri" required />
        </div>
        <div class="form-control">
          <label for="namapanggilan">Nama Panggilan :</label>
          <i id="editIcon" class="fas fa-edit"></i>
          <input class="form-input" type="text" id="namapanggilan" name="namapanggilan" placeholder="Natasha" required />
        </div>
        <div class="form-control">
          <label for="nowa">Nomor Whatsapp :</label>
          <i id="editIcon" class="fas fa-edit"></i>
          <input class="form-input" type="nowa" id="nowa" name="nowa" placeholder="081234567890" required />
        </div>
        <div class="form-control">
          <label for="tgllahir">Tanggal Lahir :</label>
          <input class="form-input" type="date" id="tgllahir" name="tgllahir" required />
        </div>
        <div class="form-control">
          <label for="gender">Jenis Kelamin :</label>
          <select class="form-input" id="gender" name="gender" required>
            <option value="laki_laki">Laki-laki</option>
            <option value="perempuan">Perempuan</option>
          </select>
        </div>
        <button class="simpan-btn" type="submit">Simpan</button>
      </form>
    </div>
    <footer>
      <span> &copy; 2023 Mentalwell, Hak Cipta Dilindungi. </span>
    </footer>
  </body>
</html>
<script src="/src/scripts/views/pages/editprofilpasien.js"></script>