<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentalWell</title>
    <link rel="stylesheet" href="/src/styles/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-brand">
        <h1>MentalWell</h1>
      </div>
      <div class="navbar-list">
        <ul class="navbar-list-item">
          <li class="list-item"><a href="./">Beranda</a></li>
          <li class="list-item"><a href="/artikel">Artikel</a></li>
          <li class="list-item"><a href="/riwayat">Riwayat</a></li>
          <li class="list-item"><a href="/tentangkami">Tentang Kami</a></li>
        </ul>
        <div class="button">
          <button type="submit" onclick="redirectToLogin()">Masuk</button>
        </div>
      </div>
    </header>
    <div class="jumbotron">
      <div class="hero">
        <h2>
          Pikiran Yang Baik, <br />
          Dirimu Yang Lebih Baik
        </h2>
        <p>Temukan ketenanganmu di sini bersama psikolog professional yang siap <br />membantu menyelesaikan masalahmu,mari berproses bersama MentalWell</p>
        <div class="btn-hero">
          <button type="button">Daftar Konseling</button>
        </div>
      </div>
      <div class="hero-image">
        <img src="/src/public/paralax.png" alt="Gambar Logo" />
      </div>
    </div>
    <main>
      <section class="konsultasi">
        <div class="content">
          <h2>Ruang Aman dan Nyaman untuk Ceritakan Masalahmu</h2>
          <p>Beragam pilihan ruang aman sesuai kenyamanan dan kebutuhanmu</p>
        </div>
        <div class="container-konsultasi">
          <div class="content-konsultasi">
            <div class="konsultasi-brand">
              <img src="/src/public/pesan.png" alt="Chat" />
              <h3>Chat</h3>
            </div>
            <p>Sesi konseling melalui Metode Chat dengan Psikolog</p>
          </div>
          <div class="content-konsultasi">
            <div class="konsultasi-brand">
              <img src="/src/public/telepon.png" alt="Call" />
              <h3>Call</h3>
            </div>
            <p>Sesi konseling melalui Metode Call dengan Psikolog</p>
          </div>
          <div class="content-konsultasi">
            <div class="konsultasi-brand">
              <img src="/src/public/video.png" alt="Zoom" />
              <h3>Video</h3>
            </div>
            <p>Sesi konseling melalui Metode Video dengan Psikolog</p>
          </div>
        </div>
        <div class="garis">
          <hr />
        </div>
      </section>
      <section class="masalah">
        <div class="content">
          <h2>Lebih Kenal dengan Psikolog dan Konselor MentalWell</h2>
          <p>Semua Psikolog dan Konselor terbaik di Mental Well telah berlisensi dan memiliki pengakuan di bidang psikologi.<br />mereka siap mendengarkan dan membantu mengatasi satiap masalah seputar kesehatan mental dan emosional Anda</p>
        </div>
        <div class="container-masalah">
          <div class="content-masalah">
            <i class="fa-solid fa-fire"></i>
            <h2>Kecemasan</h2>
          </div>
          <div class="content-masalah">
            <i class="fa-solid fa-users"></i>
            <h2>Keluarga</h2>
          </div>
          <div class="content-masalah">
            <i class="fa-solid fa-bolt"></i>
            <h2>Kendali Emosi</h2>
          </div>
          <div class="content-masalah">
            <i class="fa-solid fa-house-user"></i>
            <h2>Sosial</h2>
          </div>
          <div class="content-masalah">
            <i class="fa-sharp fa-solid fa-graduation-cap"></i>
            <h2>Pendidikan</h2>
          </div>
          <div class="content-masalah">
            <i class="fa-sharp fa-solid fa-briefcase"></i>
            <h2>Pekerjaan</h2>
          </div>
          <div class="content-masalah">
            <i class="fa-solid fa-user-large"></i>
            <h2>Kesepian</h2>
          </div>
          <div class="content-masalah">
            <i class="fa-solid fa-bars"></i>
            <h2>Lainnya</h2>
          </div>
        </div>
      </section>
      <section class="alasan">
        <div class="container-alasan">
          <h2>Kenapa Harus Konseling di MentalWell?</h2>
        </div>
        <div class="container-solusi">
          <div class="content-solusi">
            <div class="solusi-image">
              <img src="/src/public/beranda/komputer.png" alt="gambar komputer" width="100px" height="100px" />
            </div>
            <h2>Cerita dimana saja,<br />kapan saja</h2>
            <p>Saatnya pilih cara konseling yang paling nyaman untukmu. Bisa tatap muka maupun online, semua pasti bisa!</p>
          </div>
          <div class="content-solusi">
            <div class="solusi-image">
              <img src="/src/public/beranda/cerita.png" alt="gambar cerita" width="100px" height="100px" />
            </div>
            <h2>Semua orang berhak<br />sehat mental</h2>
            <p>MentalWell menyediakan berbagai jenis layanan kesehatan mental yang bisa diakses sesuai kebutuhanmu.</p>
          </div>
          <div class="content-solusi">
            <div class="solusi-image">
              <img src="/src/public/beranda/game.png" alt="gambar cerita" width="100px" height="100px" />
            </div>
            <h2>Kamu Bercerita<br />Kami jaga Rahasia</h2>
            <p>Tidak perlu khawatir, konseling tentang apa pun akan dijamin keamanannya.Selamat explore MentallWell</p>
          </div>
        </div>
        <div class="garis">
          <hr />
        </div>
      </section>
      <section class="rekomendasi">
        <div class="content">
          <h2>Rekomendasi Psikolog di MentalWell</h2>
        </div>
        <div class="container-rekomendasi">
          <div class="content-rekomendasi">
            <div class="rekomendasi-image">
              <img src="/src/public/beranda/man.png" alt="gambar orang" />
            </div>
            <h2>John Doe M.Si., M.Psi., Psikolog</h2>
            <div class="btn-detail">
              <button type="button">Lihat Detail</button>
            </div>
          </div>
          <div class="content-rekomendasi">
            <div class="rekomendasi-image">
              <img src="/src/public/beranda/man.png" alt="gambar orang" />
            </div>
            <h2>John Doe M.Si., M.Psi., Psikolog</h2>
            <div class="btn-detail">
              <button type="button">Lihat Detail</button>
            </div>
          </div>
          <div class="content-rekomendasi">
            <div class="rekomendasi-image">
              <img src="/src/public/beranda/man.png" alt="gambar orang" />
            </div>
            <h2>John Doe M.Si., M.Psi., Psikolog</h2>
            <div class="btn-detail">
              <button type="button">Lihat Detail</button>
            </div>
          </div>
          <div class="content-rekomendasi">
            <div class="rekomendasi-image">
              <img src="/src/public/beranda/man.png" alt="gambar orang" />
            </div>
            <h2>John Doe M.Si., M.Psi., Psikolog</h2>
            <div class="btn-detail">
              <button type="button">Lihat Detail</button>
            </div>
          </div>
          <div class="content-rekomendasi">
            <div class="rekomendasi-image">
              <img src="/src/public/beranda/man.png" alt="gambar orang" />
            </div>
            <h2>John Doe M.Si., M.Psi., Psikolog</h2>
            <div class="btn-detail">
              <button type="button">Lihat Detail</button>
            </div>
          </div>
          <div class="content-rekomendasi">
            <div class="rekomendasi-image">
              <img src="/src/public/beranda/man.png" alt="gambar orang" />
            </div>
            <h2>John Doe M.Si., M.Psi., Psikolog</h2>
            <div class="btn-detail">
              <button type="button">Lihat Detail</button>
            </div>
          </div>
        </div>
        <div class="btn-detail">
          <button type="button">Lihat Semua</button>
        </div>
      </section>
    </main>
    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
  </body>
</html>
<script>
  function redirectToLogin() {
    // Ganti URL dengan URL halaman login yang diinginkan
    window.location.href = '/detailarticel';
  }
</script>
