<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>MentalWell</title>
  <link rel="icon" href="/src/public/logo/logoicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/src/styles/style.css" />
  <link rel="stylesheet" href="/src/styles/jadwalkonseling.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <script type="module" src="/src/scripts/components/navbar-user.js" defer></script>
  <script type="module" src="/src/scripts/components/navbar-masuk.js" de ></script>
</head>

<body>
  <!-- navbar components -->
  <navbar-masuk id="masuk"></navbar-masuk>

  <main>
    <div class="container">
      <div class="flow d-flex justify-content-center my-5">
        <div class="isi-data text-center">
          <svg width="100" height="100">
            <circle cx="50" cy="50" r="40" stroke="#044B77" stroke-width="4" fill="#044B77" />
            <text x="40" y="60" fill="#fff" font-size="2em">1</text>
            Sorry, your browser does not support inline SVG.
          </svg>
          <br />
          Isi Data
        </div>
        <div class="permasalahan text-center">
          <svg width="100" height="100">
            <circle cx="50" cy="50" r="40" stroke="#044B77" stroke-width="4" fill="#fff" />
            <text x="40" y="60" fill="#044B77" font-size="2em">2</text>
            Sorry, your browser does not support inline SVG.
          </svg>
          <br />
          Permasalahan
        </div>
        <div class="selesai text-center">
          <svg width="100" height="100">
            <circle cx="50" cy="50" r="40" stroke="#044B77" stroke-width="4" fill="#fff" />
            <text x="40" y="60" fill="#044B77" font-size="2em">3</text>
            Sorry, your browser does not support inline SVG.
          </svg>
          <br />
          Selesai
        </div>
      </div>
      <div class="data d-flex mt-5">
        <div class="data-diri card w-50 mx-3 shadow">
          <h3 class="text-center mt-2 mb-3">Lengkapi Data Diri</h3>
          <div>
            <form action="" class="form-center d-flex row w-100 mx-auto justify-content-center">
              <input type="text" placeholder="Nama Lengkap" class="w-75 mb-3 focus-ring py-1 px-2 border rounded-2"
                disabled readonly />
              <br />
              <input type="text" placeholder="Nama Panggilan" class="w-75 mb-3 focus-ring py-1 px-2 border rounded-2"
                disabled readonly />
              <br />
              <input type="text" placeholder="01-02-2023" class="w-75 mb-3 focus-ring py-1 px-2 border rounded-2"
                aria-label="Disabled input example" disabled readonly />
              <br />
              <input type="text" placeholder="laki-Laki" class="w-75 mb-3 focus-ring py-1 px-2 border rounded-2"
                aria-label="Disabled input example" disabled readonly />
              <br />
              <input type="number" placeholder="08123456789" class="w-75 mb-3 focus-ring py-1 px-2 border rounded-2"
                aria-label="Disabled input example" disabled readonly />
              <br />
              <input type="text" placeholder="Pekerjaan" class="w-75 mb-3 focus-ring py-1 px-2 border rounded-2" />
            </form>
          </div>
        </div>
        <div class="jadwal card w-50 mx-3 shadow">
          <h3 class="text-center mt-2 mb-">Atur Jadwal</h3>
          <p class="mx-4">Pilih Tanggal (Hari Kerja)</p>
          <input type="date" class="border w-50 mx-auto mb-1 focus-ring py-1 px-2 border rounded-2" id="tanggalInput"
            onchange="selectDate()" />
          <br />
          <p class="mx-4">Pilih Waktu (WIB)</p>
          <div class="waktu d-flex justify-content-center mb-3">
            <div class="card text-center w-25 mx-3" onclick="selectTime(this)">13.00 - 14.00</div>
            <div class="card text-center w-25 mx-3" onclick="selectTime(this)">16.00 - 17.00</div>
            <div class="card text-center w-25 mx-3" onclick="selectTime(this)">19.30 - 20.30</div>
          </div>
          <p class="mx-4">Pilih Metode Konseling</p>
          <div class="metode d-flex justify-content-center">
            <div class="card text-center w-25 mx-3 mb-3" onclick="selectMethod(this)">Chat</div>
            <div class="card text-center w-25 mx-3 mb-3" onclick="selectMethod(this)">Call</div>
            <div class="card text-center w-25 mx-3 mb-3" onclick="selectMethod(this)">Video Call</div>
          </div> <button class="rounded p-1 mx-3 my-3 mb-4" onclick="redirectToCounseling2()">
            Selanjutnya
          </button>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
  <script>
  </script>
</body>

</html>

<script src="/src/scripts/views/pages/jadwalkonseling.js"></script>