<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>MentalWell</title>
        <link rel="icon" href="/src/public/logo/3.png" type="image/x-icon">
        <!-- <link rel="stylesheet" href="/src/scripts/styles/konfirmasilogout.css"> -->
        <link rel="stylesheet" href="/src/styles/konfirmasilogout.css">

    </head>
    <body>
        <div class="logout-container">
            <div class="logout-title">
                <h2>Apakah anda yakin ingin keluar?</h2>
            </div>
            <div class="button-pilihan">
                <div class="button-batal">
                    <button type="button" id="btnBatal">BATAL</button>
                </div>
                <div class="button-keluar">
                    <button type="button" id="btnKeluar">KELUAR</button>
                </div>
            </div>
        </div>
    </body>
</html>