<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentallWell</title>
    <link rel="stylesheet" href="/src/styles/listpsikolog.css" />
    <link rel="icon" href="/src/public/logo/3.png" type="image/x-icon">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
    />
    <script
      type="module"
      src="/src/scripts/components/navbar-masuk.js"
      defer
    ></script>
  </head>
  <body>
    <!-- navbar components -->
    <navbar-masuk></navbar-masuk>

    <!-- <header class="navbar">
      <div class="navbar-brand">
        <h1>MentalWell</h1>
      </div>
      <div class="navbar-list">
        <ul class="navbar-list-item">
          <li class="list-item"><a href="./">Beranda</a></li>
          <li class="list-item"><a href="/artikel">Artikel</a></li>
          <li class="list-item"><a href="/listpsikolog">Cari Psikolog</a></li>
          <li class="list-item"><a href="/tentangkami">Tentang Kami</a></li>
          <div class="button">
            <button type="button" id="btnnMasuk" onclick="openLoginPopup()">
              Masuk
            </button>
          </div>
          <div class="button-user">
            <img src="/src/public/beranda/man.png" alt="Foto User" id="photoUser" />
            <button type="submit">Natasya</button>
          </div>
        </ul>
       
      </div>
    </header> -->
    <main>
      <aside class="keahlian-psikolog">
        <div class="container-keahlian">
          <h2>Pilih<br />Topik Keahlian</h2>
          <hr />
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Adiksi</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Anak remaja</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Trauma</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Seksualitas</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Fobia</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Kecenderungan Bunuh Diri</p>
          </div>
        </div>
      </aside>
      <section class="listpsikolog">
        <form class="search-psikolog" id="searchForm">
          <input
            type="text"
            placeholder="Masukkan nama psikolog"
            id="search-psikolog"
          />
          <div class="button-search">
            <button type="submit" id="searchButton">
              <i class="fas fa-search"></i>Cari
            </button>
          </div>
        </form>
        <div class="container-psikolog" id="container-psikolog"></div>
      </section>
      <script>
        function redirectToDetailPsychologist() {
          window.location.href = "/profilpsikolog";
        }
      </script>
      <script src="/src/scripts/views/pages/searchpsikolog.js"></script>
      <script src="/src/scripts/views/pages/listpsikolog.js"></script>
    </main>
    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
  </body>
</html>
