<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/styles/listpsikolog.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-brand">
        <h1>MentalWell</h1>
      </div>
      <div class="navbar-list">
        <ul class="navbar-list-item">
          <li class="list-item"><a href="./">Beranda</a></li>
          <li class="list-item"><a href="/artikel">Artikel</a></li>
          <li class="list-item"><a href="/riwayat">Riwayat</a></li>
          <li class="list-item"><a href="/tentangkami">Tentang Kami</a></li>
        </ul>
        <div class="button-user">
          <img src="/src/public/beranda/man.png" alt="Foto User" id="photoUser" />
          <button type="submit">Natasya</button>
        </div>
      </div>
    </header>
    <main>
      <aside class="keahlian-psikolog">
        <div class="container-keahlian">
          <h2>Pilih<br />Topik Keahlian</h2>
          <hr />
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Adiksi</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Anak remaja</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Trauma</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Seksualitas</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Fobia</p>
          </div>
          <div class="content-keahlian">
            <input type="checkbox" />
            <p>Kecenderungan Bunuh Diri</p>
          </div>
        </div>
      </aside>
      <section class="listpsikolog">
        <form class="search-psikolog">
          <input type="text" placeholder="Masukkan nama psikolog" />
          <div class="button-search">
            <button type="submit"><i class="fas fa-search"></i>Cari</button>
          </div>
        </form>
        <div class="container-psikolog">
          <div class="content-psikolog">
            <img class="image-psikolog" src="/src/public/list/man.png" alt="man" />
            <div class="data-psikolog">
              <h2>John Doe, M.Psi., Psikolog</h2>
              <div class="value-psikolog">
                <p>Pengalaman Praktik : 2 - 3 Tahun</p>
                <i class="far fa-envelope"></i>
                <p class="ulasan">(15 Ulasan)</p>
              </div>
              <div class="list-button-psikolog">
                <div class="jadwal-hijau">
                  <p>Jadwal Tersedia</p>
                </div>
                <div class="button-psikolog">
                  <button type="button">Lihat Selengkapnya</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content-psikolog">
            <img class="image-psikolog" src="/src/public/list/man.png" alt="man" />
            <div class="data-psikolog">
              <h2>John Doe, M.Psi., Psikolog</h2>
              <div class="value-psikolog">
                <p>Pengalaman Praktik : 2 - 3 Tahun</p>
                <i class="far fa-envelope"></i>
                <p class="ulasan">(15 Ulasan)</p>
              </div>
              <div class="list-button-psikolog">
                <div class="jadwal-merah">
                  <p>Jadwal Tidak Tersedia</p>
                </div>
                <div class="button-psikolog">
                  <button type="button">Lihat Selengkapnya</button>
                </div>
              </div>
            </div>
          </div>
          <div class="content-psikolog">
            <img class="image-psikolog" src="/src/public/list/man.png" alt="man" />
            <div class="data-psikolog">
              <h2>John Doe, M.Psi., Psikolog</h2>
              <div class="value-psikolog">
                <p>Pengalaman Praktik : 2 - 3 Tahun</p>
                <i class="far fa-envelope"></i>
                <p class="ulasan">(15 Ulasan)</p>
              </div>
              <div class="list-button-psikolog">
                <div class="jadwal-hijau">
                  <p>Jadwal Tersedia</p>
                </div>
                <div class="button-psikolog">
                  <button type="button">Lihat Selengkapnya</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
  </body>
</html>
