<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MentalWell</title>
    <link rel="icon" href="/src/public/logo/logoicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/src/styles/lupasandi.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <div class="lupasandi-container">
    <div class="lupasandi-title">
        <h2>Lupa Kata Sandi</h2>
        <p>Tautan untuk mengubah kata sandi akan dikirimkan ke email</p>
    </div>
    <form class="lupasandi-form" id="lupasandi-form">
        <div class="lupasandi-control">
        <input class="lupasandi-input" type="email" id="email" name="email" placeholder="Masukkan Email" required />
        </div>
        <button class="next-btn" type="submit">Kirim email</button>
    </form>
    </div>
    <script>
        function redirectToUbah() {
            window.location.href = "/ubah-sandi";
        }
    </script> 
</body>
</html>
<script src="/src/scripts/views/pages/lupasandi.js"></script>

