<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MentalWell</title>
  <link rel="icon" href="/src/public/logo/logoicon.png" type="image/x-icon">
  <link rel="stylesheet" href="/src/styles/profil-psikolog.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <script type="module" src="/src/scripts/components/navbar-user.js" defer></script>
  <script type="module" src="/src/scripts/components/navbar-masuk.js"></script>
</head>

<body>
  <!-- navbar components -->
  <navbar-masuk id="masuk"></navbar-masuk>
  <div id="overlay" class="overlay" onclick="closeLoginPopup()"></div>
  <div class="login-container" id="login-container">
    <div class="login-title">
      <h2>Masuk</h2>
      <p>Belum punya akun? <a href="#" id="popupDaftar" onclick="openDaftarPopup()">Daftar</a></p>
    </div>
    <form class="login-form" id="login-form">
      <div class="form-control">
        <input class="form-input" type="email" id="emaillogin" name="emaillogin" placeholder="Masukkan Email" required />
      </div>
      <div class="form-control">
        <i class="far fa-eye eye" onclick="togglePasswordLoginVisibility()"></i>
        <input class="form-input" type="text" id="loginpassword" name="loginpassword" placeholder="Masukkan Kata Sandi" required />
      </div>
      <p><a href="/src/templates/lupasandi.html">Lupa kata sandi</a></p>
      <button class="submit-btn" type="submit">Masuk</button>
    </form>
  </div>
  <div id="overly" class="overly" onclick="closeDaftarPopup()"></div>
  <div class="daftar-container" id="daftar-container">
    <div class="daftar-title">
      <h2>Daftar</h2>
      <p>Sudah punya akun? <a href="#" onclick="openLoginPopup()">Masuk</a></p>
    </div>
    <form class="daftar-form" id="daftar-form">
      <div class="form-control">
        <input class="form-input" type="email" id="email" name="email" placeholder="Email" required />
      </div>
      <div class="form-control">
        <input class="form-input" type="notelp" id="notelp" name="notelp" placeholder="Nomor Whatsapp" required />
      </div>
      <div class="form-control">
        <i class="far fa-eye eye" onclick="togglePasswordVisibility()"></i>
        <input class="form-input" type="password" id="passworddaftar" name="passworddaftar" placeholder="Kata Sandi" required />
      </div>
      <div class="form-control">
        <i class="far fa-eye confpassword eye" onclick="toggleConfirmasiPasswordVisibility()"></i>
        <input class="form-input" type="password" id="confpassword" name="password" placeholder="Konfirmasi Kata Sandi" required />
      </div>
      <button class="submit-btn" type="submit">Daftar</button>
    </form>
  </div>
  <main>
    <div class="main-content">
      <div class="foto-psikolog" id="foto-psikolog">
        <img alt="Foto Psikolog" id="psychologProfile" />
      </div>
      <div class="data-psikolog" id="data-psikolog">
        <h2></h2>
        <div class="biodata-psikolog" id="biodata-psikolog"></div>
      </div>
      <div class="data-lainnya">
        <div class="pengalaman-praktik" id="pengalaman-praktik">
          <h3>PRAKTIK</h3>
          <p id="praktik"></p>
        </div>
        <div class="topik-keahlian" id="topik-keahlian">
          <p>Topik Keahlian</p>
          <ul id="topiclist">
            <!-- <li>Adiksi</li>
              <li>Fobia</li>
              <li>Kecenderungan Bunuh Diri</li> -->
          </ul>
        </div>
      </div>
      <div class="container-ulasan" id="ulasan-pengguna">
        <div class="header-ulasan">
          <h2>ULASAN</h2>
        </div>
        <div id="userReviews" class="userReviews"></div>
      </div>
    </div>
    </div>
    <div class="button-daftar">
      <button type="button" id="btnDaftar" onclick="redirectToCounseling()">Daftar Konseling</button>
    </div>
  </main>
  <footer>
    <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
  </footer>
</body>

</html>
<script>
  function redirectToCounseling() {
    // Get the articleId from the URL
    const urlParams = new URLSearchParams(window.location.search);
    const articleId = urlParams.get('id');

    // Redirect to the specified URL with the articleId parameter
    // window.location.href = `http://localhost:5501/src/templates/jadwalkonseling-isidata.html?id=${articleId}`;
    // for prod
    window.location.href = `https://mentalwell.vercel.app/jadwalkonseling-isidata?id=${articleId}`;
  }
</script>
<script src="/src/scripts/views/pages/detailpsikolog.js"></script>
<script src="/src/scripts/views/pages/login.js"></script>
<script src="/src/scripts/views/pages/daftar.js"></script>