<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MentalWell</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="icon" href="/src/public/logo/logoicon.png" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="/src/styles/riwayat.css" />
  <script type="module" src="/src/scripts/components/navbar-user.js" defer></script>
  <script type="module" src="/src/scripts/components/navbar-masuk.js"></script>
</head>

<body>
  <navbar-masuk id="masuk"></navbar-masuk>
  <main>
    <div id="overlay" class="overlay" onclick="closeUlasanPopup()"></div>
    <div class="container-ulasan" id="container-ulasan">
      <form class="content-ulasan">
        <div class="isi-ulasan">
          <h2>Berikan Ulasan</h2>
          <textarea name="ulasan" id="ulasan" cols="55" rows="15" placeholder="Tuliskan ulasanmu disini"></textarea>
        </div>
        <div class="btn-detail">
          <button type="submit">Kirim</button>
        </div>
      </form>
    </div>
    <h2>Riwayat Konseling</h2>
    <div class="content-riwayat">


      <!-- <div class="container-riwayat">
          <img
            src="/src/public/beranda/man.png"
            alt="Foto Psikolog"
            id="psychologPhoto"
          />
          <div class="info-riwayat">
            <div class="info-text">
              <p>
                John Doe M.Si., M.Psi., Psikolog<br />
                27 November 2023<br />
                16:00 - 17:00<br />
                Via Video Call
              </p>
            </div>
            <div class="status-button">
              <span class="status-riwayat">Belum selesai</span>
              <button type="button" id="button-riwayat-undone">
                ISI ULASAN
              </button>
            </div>
          </div>
        </div> -->

      <!-- <div class="container-riwayat">
          <img
            src="/src/public/beranda/man.png"
            alt="Foto Psikolog"
            id="psychologPhoto"
          />
          <div class="info-riwayat">
            <div class="info-text">
              <p>
                John Doe M.Si., M.Psi., Psikolog<br />
                27 November 2023<br />
                16:00 - 17:00<br />
                Via Video Call
              </p>
            </div>
            <div class="status-button">
              <span class="status-riwayat">Selesai</span>
              <button
                type="button"
                id="button-riwayat-done"
                onclick="openUlasanPopup()"
              >
                ISI ULASAN
              </button>
            </div>
          </div>
        </div> -->
    </div>
  </main>
  <footer>
    <span> &copy; 2023 MentalWell, Hak Cipta Dilindungi. </span>
  </footer>
  <script src="/src/scripts/views/pages/ulasan.js"></script>
  <script src="/src/scripts/views/pages/riwayat.js"></script>
</body>

</html>