<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/tentangkami.css" />
    <title>Tentang Kami</title>
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-brand">
          <h1>MentalWell</h1>
      </div>
      <div class="navbar-list">
          <ul class="navbar-list-item">
          <li class="list-item"><a href="#">Beranda</a></li>
          <li class="list-item"><a href="#">Artikel</a></li>
          <li class="list-item"><a href="#">Riwayat</a></li>
          <li class="list-item"><a href="#">Tentang Kami</a></li>
          </ul>
          <div class="button-user">
          <img src="/src/public/beranda/man.png" alt="Foto User" id="photoUser" />
          <button type="submit">Natasya</button>
          </div>
      </div>
      </header>
    <main>
      <section>
        <h2>Tentang Kami</h2>
        <div class="img-tentangkami">
          <img src="/src/public/profil/rafiki.png" alt="Gambar Logo" />
          <p class="highlight-text">
            MentalWell adalah platform kesehatan mental yang inovatif, bertujuan memberikan akses mudah dan terpercaya ke layanan penyuluhan dan konseling psikologis secara online.<br /><br />
            MentalWell dirancang untuk mendukung kesejahteraan emosional dengan menyediakan sesi konseling online yang membantu pengguna menjalani perjalanan kesehatan mental mereka.
          </p>
        </div>
      </section>

      <section id="tim-pengembang">
        <h3>Tim Pengembang</h3>
        <div class="team-container">
          <!-- Profil Pengembang 1 -->
          <div class="team-member">
            <img src="/src/public/profil/auni.jpg" alt="Foto Auni" />
            <h4>Ahmad Ramadhan Auni</h4>
            <p>Universitas Negeri Semarang</p>
            <p>DevOps Engineer | Backend Web Developer</p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/ahmad-ramadhan-auni" target="_blank" rel="noopener">
                <img src="/src/public/profil/linkedin-icon.png" alt="LinkedIn" />
              </a>
              <a href="https://github.com/auni-st" target="_blank" rel="noopener">
                <img src="/src/public/profil/github-icon.png" alt="GitHub" />
              </a>
            </div>
          </div>

          <!-- Profil Pengembang 2 -->
          <div class="team-member">
            <img src="/src/public/profil/rahman.jpg" alt="Foto Rahman" />
            <h4>Rahman Hakim</h4>
            <p>Universitas Amikom Yogyakarta</p>
            <p>Frontend Web Developer</p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/rahman-hakim-69641227a/" target="_blank" rel="noopener">
                <img src="/src/public/profil/linkedin-icon.png" alt="LinkedIn" />
              </a>
              <a href="https://github.com/Rahmanhakim7" target="_blank" rel="noopener">
                <img src="/src/public/profil/github-icon.png" alt="GitHub" />
              </a>
            </div>
          </div>

          <!-- Profil Pengembang 3 -->
          <div class="team-member">
            <img src="/src/public/profil/gibran.jpg" alt="Foto Gibran" />
            <h4>Gibran Alfarabi</h4>
            <p>Universitas Lampung</p>
            <p>Frontend Web Developer</p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/gibran-alfarabi/" target="_blank" rel="noopener">
                <img src="/src/public/profil/linkedin-icon.png" alt="LinkedIn" />
              </a>
              <a href="https://github.com/gibranalfarabi" target="_blank" rel="noopener">
                <img src="/src/public/profil/github-icon.png" alt="GitHub" />
              </a>
            </div>
          </div>

          <!-- Profil Pengembang 4 -->
          <div class="team-member">
            <img src="/src/public/profil/rizki.jpeg" alt="Foto Rizki" />
            <h4>Rizki Septi Ardi</h4>
            <p>Universitas</p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/rizki-ardi/" target="_blank" rel="noopener">
                <img src="/src/public/profil/linkedin-icon.png" alt="LinkedIn" />
              </a>
              <a href="https://github.com/rizkiardii" target="_blank" rel="noopener">
                <img src="/src/public/profil/github-icon.png" alt="GitHub" />
              </a>
            </div>
          </div>

          <!-- Profil Pengembang 5 -->
          <div class="team-member">
            <img src="/src/public/profil/echa.jpg" alt="Foto Echa" />
            <h4>Echa Andrea Gustiar</h4>
            <p>Universitas Lampung</p>
            <p>UI UX Designer</p>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/echa-andrea-gustiar" target="_blank" rel="noopener">
                <img src="/src/public/profil/linkedin-icon.png" alt="LinkedIn" />
              </a>
              <a href="https://github.com/EchaAndrea" target="_blank" rel="noopener">
                <img src="/src/public/profil/github-icon.png" alt="GitHub" />
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <span>@MentalWell 2023, SEMUA HAK DILINDUNGI</span>
    </footer>
  </body>
</html>
