<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/ulasan.css">
    <title>Ulasan</title>
</head>
<body>
    <div class="container-ulasan">
        <div class="content-ulasan">
            <div class="isi-ulasan">
                <h2>Berikan Ulasan</h2>
                <textarea name="ulasan" id="ulasan" cols="55" rows="15" placeholder="Tuliskan ulasanmu disini"></textarea>
            </div>
            <div class="btn-detail">
                <button type="button">Lihat Semua</button>
            </div>
        </div>
    </div>
</body>
</html>