@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*
Header
*/

.navbar {
  background-color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2 rem;
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.navbar .navbar-brand h1 {
  color: #02bbdd;
  text-transform: uppercase;
}

.navbar .navbar-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.navbar .navbar-list .button-user {
  display: flex;
  align-items: center;
}

.navbar .navbar-list .button-user button {
  width: 95px;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.navbar .navbar-list .navbar-list-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar .navbar-list .list-item {
  list-style: none;
}

.navbar .navbar-list .navbar-list-item .list-item a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#photoUser {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/*
Main
*/

main {
  width: 100%;
  display: flex;
  flex: 1;
}

.detail-articel {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.detail-articel .judul-detail-articel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail-articel .garis-detail-articel {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
}

.garis-detail-articel hr {
    width: 95%;
}

.detail-articel .image-detail-articel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.detail-articel .content-detail-articel {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 1rem;
}

.detail-articel .content-detail-articel p {
    width: 95%;
}

/*
Footer
*/
footer {
  font-size: 20px;
  padding: 1.5em;
  height: 20px;
  background-color: #02bbdd;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
  flex-shrink: 0;
}
