@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*
Header
*/

.navbar {
  background-color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2 rem;
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.navbar .navbar-brand h1 {
  color: #02bbdd;
  text-transform: uppercase;
}

.navbar .navbar-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.navbar .navbar-list .button-user {
  display: flex;
  align-items: center;
}

.navbar .navbar-list .button-user button {
  width: 95px;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.navbar .navbar-list .navbar-list-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar .navbar-list .list-item {
  list-style: none;
}

.navbar .navbar-list .navbar-list-item .list-item a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#photoUser {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/*
main 
*/

main {
  width: 100%;
  display: flex;
  flex: 1;
}

.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 98px;
}

.dashboard .content {
  width: 100%;
  text-align: center;
}

.dashboard .content-dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.dashboard .content-dashboard table {
  width: 950px;
  border-collapse: collapse;
}

.dashboard .content-dashboard table tr {
  border: 1px solid black;
}

.dashboard .content-dashboard table th,
td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #044b77;
  color: white;
}

.dropdown-container {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 17rem;
}

.status-dropdown {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  list-style: none;
  text-decoration: none;
  background-color: #044b77;
  color: white;
  margin-left: 1rem;
  font-weight: bold;
}

.status-dropdown:focus {
  outline: none;
}

.status-dropdown:hover {
  background-color: #02bbdd;
}

/* Style pilihan dropdown */
.status-dropdown option {
  background-color: #fff;
  color: #333;
  list-style: none;
  text-decoration: none;
  font-size: 15px;
}

.dashboard .content-dashboard table tbody img {
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .dashboard .container-dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
    align-items: center;
}

.dashboard .container-dashboard .title-dashboard {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: #044B77;
    min-width: 1200px;
    height: 67px;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}

.dashboard .container-dashboard .content-dashboard {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    min-width: 1200px;
    height: 90px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid black;
} */
/*
Footer
*/

footer {
  font-size: 18px;
  padding: 1.5em;
  height: 18px;
  background-color: #02bbdd;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}
