@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: flex;
    align-items: flex-start; 
    justify-content: flex-end;
    height: 100vh;
}

.dropdown-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 180px;
    height: 100px;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 50px; 
}

.profile-button {
    margin: 20px 0 20px 30px;
}

.profile-button:hover {
    color: #808080;
}

.logout-button {
    margin: 20px 0 20px 30px;
}

.logout-button:hover {
    color: #808080;
}