@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*
Header
*/

.navbar {
  background-color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2 rem;
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.navbar .navbar-brand h1 {
  color: #02bbdd;
  text-transform: uppercase;
}

.navbar .navbar-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.navbar .navbar-list .button-user {
  display: flex;
  align-items: center;
}

.navbar .navbar-list .button-user button {
  width: 95px;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.navbar .navbar-list .navbar-list-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar .navbar-list .list-item {
  list-style: none;
}

.navbar .navbar-list .navbar-list-item .list-item a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#photoUser {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* edit profil psikolog */

.editpsikolog-container {
  background-color: #fff;
  border-radius: 15px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  text-align: center;
  width: 80%;
  max-width: 1000px;
  height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 98px auto 10px; 
  margin: 130px 0 auto 135px; */
  margin: 130px auto;
}

.editpsikolog-container .editpsikolog-title {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #333;
}

.editpsikolog-container .editpsikolog-title p {
  margin-top: -10px;
}

.editpsikolog-container .editpsikolog-title p a {
  text-decoration: none;
}

.editpsikolog-container .editpsikolog-form {
  display: flex;
  flex-direction: column;
}

.profil-container {
  text-align: center;
}

.profil-image {
  position: relative;
}

.profil-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profil-image input {
  display: none;
}

.profil-image label {
  position: absolute;
  background-color: #044b77;
  width: 140px;
  height: 30px;
  border-radius: 15px;
  padding-top: 7px;
  color: white;
  font-family: inherit;
  left: 270px;
  top: 100px;
}

.profil-image label:hover {
  background-color: #3ad0ea;
  cursor: pointer;
}

/* .profil-image i {
  position: absolute;
} */

/* .profil-image i:hover {
  cursor: pointer;
} */

h3 {
  font-weight: bold;
  margin-bottom: 20px;
}

.editpsikolog-container .editpsikolog-form .form-control {
  margin-bottom: 1rem;
  display: flex;
}

.editpsikolog-container .editpsikolog-form .form-control .form-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  width: 200px;
  align-items: center;
  height: 34px;
  position: relative;
  left: 45%;
}

h4 {
  font-weight: normal;
}

.form-control label {
  position: absolute;
  padding-top: 7px;
}

.editpsikolog-container .editpsikolog-form .form-control .form-input:focus {
  outline: none;
  border: 1px solid #044b77;
}

.editpsikolog-container .editpsikolog-form .form-control .fa-edit {
  position: absolute;
  z-index: 1;
  margin-left: 360px;
  margin-top: 10px;
}

.editpsikolog-container .editpsikolog-form .form-control .fa-edit:hover {
  background-color: #044b77;
  color: #ffffff;
  cursor: pointer;
}

.editpsikolog-container .editpsikolog-form .form-input {
  border: none;
}

.editpsikolog-container .editpsikolog-form p {
  text-align: end;
  margin-right: 3px;
  margin-top: -8px;
}

.editpsikolog-container .editpsikolog-form p a {
  text-decoration: none;
  color: black;
}

.editpsikolog-container .editpsikolog-form .simpan-btn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  background-color: #044b77;
  width: 370px;
  height: 44px;
  margin-top: 0rem;
  margin-bottom: 2rem;
}

.editpsikolog-container .editpsikolog-form .simpan-btn:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

.form-control-2 {
  margin-top: 10px;
  margin-bottom: 1rem;
  display: flex;
}

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-gap: 5px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-bottom: 10px;
  position: relative;
  left: 40%;
  bottom: 20%;
  text-align: left;
}

.checkbox-group input {
  margin-right: 8px;
}

.gray-text {
  background-color: 	#cccccc;
}

/*
Footer
*/

footer {
  font-size: 18px;
  padding: 1.5em;
  height: 18px;
  background-color: #02bbdd;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}
