.container {
  margin-top: 98px;
}

button {
  background-color: #044b77;
<<<<<<< Updated upstream
  border: none;
  color: #fff;
=======
  color: #fff;
  border: none;
>>>>>>> Stashed changes
}

button:hover {
  background-color: #02bbdd;
}

<<<<<<< Updated upstream
footer {
  padding-bottom: 50px;
}

.card.selected {
  background-color: lightblue;
  /* Customize the background color for the selected card */
  color: white;
  /* Customize the text color for the selected card */
}
=======
/* footer */
footer {
  position: absolute;
  top: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-bottom: 50px;
}
>>>>>>> Stashed changes
