.container {
  margin-top: 98px;
}

button {
  background-color: #044b77;
  border: none;
  color: #fff;
}

button:hover {
  background-color: #02bbdd;
}

footer {
  padding-bottom: 50px;
}

.card.selected {
  background-color: lightblue;
  /* Customize the background color for the selected card */
  color: white;
  /* Customize the text color for the selected card */
}