@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*
Header
*/

.navbar {
  background-color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2 rem;
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.navbar .navbar-brand h1 {
  color: #02bbdd;
  text-transform: uppercase;
}

.navbar .navbar-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.navbar .navbar-list .button-user {
  display: flex;
  align-items: center;
}

.navbar .navbar-list .button-user button {
  width: 95px;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.navbar .navbar-list .navbar-list-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar .navbar-list .list-item {
  list-style: none;
}

.navbar .navbar-list .navbar-list-item .list-item a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#photoUser {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar .navbar-list .button button {
  width: 95px;
  height: 40px;
  border-radius: 30px;
  background-color: #044b77;
  color: #ffffff;
}

.navbar .navbar-list .button button:hover {
  background-color: #3ad0ea;
  color: #ffffff;
  background-color: #02bbdd;
  cursor: pointer;
  color: white;
}

/*
Main 
*/
main {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1rem;
  justify-content: center;
  min-height: 100vh;
}

main .keahlian-psikolog {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin-left: 1rem;
  margin-top: 89px;
  align-items: center;
}

.keahlian-psikolog .container-keahlian {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 350px;
  margin-top: 1rem;
  margin-left: 3em;
  /* border: 1px solid black; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  gap: 1rem;
}

.keahlian-psikolog .container-keahlian h2 {
  text-align: center;
  margin-top: 1rem;
}

.keahlian-psikolog .container-keahlian hr {
  margin: 0 1rem;
}

.keahlian-psikolog .container-keahlian .content-keahlian {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  gap: 1rem;
}

.keahlian-psikolog .container-keahlian .content-keahlian p {
  font-size: 18px;
}

main .listpsikolog {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-top: 89px;
  margin-right: 1rem;
}

.listpsikolog form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
  width: 100%;
}

.listpsikolog form input {
  width: 880px;
  height: 48px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #044b77;
  font-size: 20px;
  padding-left: 10px;
  font-weight: 700px;
}

.listpsikolog form .button-search {
  display: flex;
  flex-direction: row;
}

.listpsikolog form .button-search button {
  padding: 0 15px;
  border-radius: 20px;
  font-size: 15px;
  background-color: #044b77;
  color: white;
  font-weight: 700px;
  border: none;
}

.listpsikolog form .button-search button {
  background-color: #044b77;
  color: #ffffff;
}

.listpsikolog form .button-search button:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

.listpsikolog form .button-search i {
  margin-right: 10px;
}

.listpsikolog .container-psikolog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

.listpsikolog .container-psikolog .content-psikolog {
  width: 1000px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 20px;
  justify-content: flex-start;
  margin-bottom: 15px;
}

.listpsikolog .container-psikolog .content-psikolog .image-psikolog {
  margin: 1rem 0 1rem 1rem;
  width: 300px;
  height: 133.69px;
  border-radius: 10px;
}

.listpsikolog .container-psikolog .content-psikolog .data-psikolog {
  margin: 1rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
}

.listpsikolog
  .container-psikolog
  .content-psikolog
  .data-psikolog
  .value-psikolog {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.listpsikolog
  .container-psikolog
  .content-psikolog
  .data-psikolog
  .value-psikolog
  .ulasan {
  margin-left: -10px;
}

.listpsikolog
  .container-psikolog
  .content-psikolog
  .data-psikolog
  .list-button-psikolog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listpsikolog
  .container-psikolog
  .content-psikolog
  .data-psikolog
  .list-button-psikolog
  .jadwal-hijau {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  color: #557c55;
  background-color: #f2ffe9;
  border-radius: 10px;
}

.listpsikolog
  .container-psikolog
  .content-psikolog
  .data-psikolog
  .list-button-psikolog
  .jadwal-merah {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  color: red;
  background-color: #fcc8d1;
  border-radius: 10px;
}

.listpsikolog
  .container-psikolog
  .content-psikolog
  .data-psikolog
  .list-button-psikolog
  p {
  padding: 2px 1rem;
  font-weight: bold;
}

.listpsikolog
  .container-psikolog
  .content-psikolog
  .data-psikolog
  .list-button-psikolog
  .button-psikolog {
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.listpsikolog
  .container-psikolog
  .content-psikolog
  .data-psikolog
  .list-button-psikolog
  .button-psikolog
  button {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 15px;
  background-color: #044b77;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.listpsikolog
  .container-psikolog
  .content-psikolog
  .data-psikolog
  .list-button-psikolog
  .button-psikolog
  button:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

/*
login 
*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.login-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20%;
  left: 38%;
  z-index: 1;
}

.login-container .login-title {
  margin-bottom: 40px;
  color: #333;
}

.login-container .login-title h2 {
  margin-bottom: 1rem;
}

.login-container .login-title p {
  font-size: 16px;
}

.login-container .login-title p a {
  text-decoration: none;
}

.login-container .login-form {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}

.login-container .login-form .form-control {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.login-container .login-form .form-control .form-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  align-items: center;
  height: 44px;
}

.login-container .login-form .form-control .eye {
  position: absolute;
  margin-left: 300px;
  margin-top: 15px;
}

.login-container .login-form .form-input {
  border: none;
}

.login-container .login-form p {
  text-align: end;
  margin-right: 3px;
  margin-top: -8px;
}

.login-container .login-form p a {
  text-decoration: none;
  color: grey;
}

.login-container .login-form p a:hover {
  text-decoration: none;
  color: blue;
}

.login-container .login-form .submit-btn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 4rem;
  color: white;
  font-weight: bold;
  background-color: #044b77;
  width: 360px;
  height: 44px;
}

.login-container .login-form .submit-btn:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

/*
daftar
*/
.overly {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.daftar-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 490px;
  display: none;
  position: fixed;
  top: 20%;
  left: 38%;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.daftar-container .daftar-title {
  margin-bottom: 20px;
  color: #333;
  margin-top: 2.5rem;
}

.daftar-container .daftar-title h2 {
  margin-bottom: 1rem;
}

.daftar-container .daftar-title p a {
  text-decoration: none;
}

.daftar-container .daftar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.daftar-container .daftar-form .form-control {
  margin-bottom: 1rem;
  display: flex;
}

.daftar-container .daftar-form .form-control .form-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 310px;
  align-items: center;
  height: 44px;
}

.daftar-container .daftar-form .form-control .eye {
  position: absolute;
  margin-left: 300px;
  margin-top: 15px;
}

.daftar-container .daftar-form .form-input {
  border: none;
}

.daftar-container .daftar-form p {
  text-align: end;
  margin-right: 3px;
  margin-top: -8px;
}

.daftar-container .daftar-form p a {
  text-decoration: none;
  color: black;
}

.daftar-container .daftar-form .submit-btn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  background-color: #044b77;
  width: 350px;
  height: 44px;
}

.daftar-container .daftar-form .submit-btn:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
Footer
*/

footer {
  font-size: 18px;
  padding: 1.5em;
  height: 18px;
  background-color: #02bbdd;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}
