@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*
Header
*/

.navbar {
  background-color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2 rem;
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.navbar .navbar-brand h1 {
  color: #02bbdd;
  text-transform: uppercase;
}

.navbar .navbar-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.navbar .navbar-list .button-user {
  display: flex;
  align-items: center;
}

.navbar .navbar-list .button-user button {
  width: 95px;
  height: 40px;
  background-color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.navbar .navbar-list .navbar-list-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar .navbar-list .list-item {
  list-style: none;
}

.navbar .navbar-list .navbar-list-item .list-item a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#photoUser {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/*
Content Profil Psikolog
*/
main {
  flex: 1;
}

.main-content {
  margin-top: 130px;
  background-color: white;
  margin-left: 230px;
  margin-right: 230px;
  border: 1px solid black;
  border-radius: 20px;
}

#psychologProfile {
  position: absolute;
  margin: 40px 50px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.data-psikolog {
  display: flex;
  flex-direction: column;
  margin: 50px 0 30px 300px;
}

.biodata-psikolog p {
  font-size: 19px;
  margin: 30px 20px 10px 0;
}

.data-lainnya {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

.pengalaman-praktik {
  margin-top: 3rem;
  border: 1px solid #02bbdd;
  border-radius: 15px;
  width: 200px;
  height: 50px;
  margin: 10px 0 20px 50px;
}

.pengalaman-praktik h3,
p {
  padding-left: 10px;
}

.topik-keahlian {
  margin-left: 50px;
}

.topik-keahlian p {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 10px;
}

.topik-keahlian ul {
  font-size: 19px;
  margin-left: 20px;
}

.container-ulasan {
  display: flex;
  flex-direction: column;
  margin: 60px 50px 20px 50px;
}

.container-ulasan::before {
  position: absolute;
  bottom: -140px;
  left: 80px;
  font-size: 24px;
}

.container-ulasan::after {
  position: absolute;
  bottom: -140px;
  right: 80px;
  font-size: 24px;
}

.header-ulasan {
  position: absolute;
  right: 47%;
  text-align: center;
}

#userReview {
  margin: 20px 20px;
  width: 100px;
  height: 100px;
}

.userReviews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 1rem;
  /* Adjust the gap as needed */
}

.isi-ulasan {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 20px;
  margin: 60px 40px 30px 40px;
  width: 400px;
  height: 150px;
}

.isi-ulasan h3 {
  margin-top: 20px;
}

.button-daftar {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

#btnDaftar {
  border: 1px solid #ccc;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  background-color: #044b77;
  width: 230px;
  height: 44px;
  cursor: pointer;
  font-size: 18px;
}

#btnDaftar:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

#btnDaftar.disabled {
  background-color: #ccc;
  /* Change to your desired disabled button color */
  color: #999;
  /* Change to your desired text color for disabled button */
  /* Add any additional styling for the disabled state */
  cursor: default;
}

/*
login 
*/
.overlay {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20%;
  left: 38%;
  z-index: 1;
}

.login-container .login-title {
  margin-bottom: 20px;
  color: #333;
}

.login-container .login-title h2 {
  margin-top: -1rem;
}

.login-container .login-title p {
  font-size: 16px;
}

.login-container .login-title p a {
  text-decoration: none;
}

.login-container .login-form {
  display: flex;
  flex-direction: column;
}

.login-container .login-form .form-control {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.login-container .login-form .form-control .form-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  align-items: center;
  height: 44px;
}

.login-container .login-form .form-control .eye {
  position: absolute;
  margin-left: 300px;
  margin-top: 15px;
}

.login-container .login-form .form-input {
  border: none;
}

.login-container .login-form p {
  text-align: end;
  margin-right: 3px;
  margin-top: -8px;
}

.login-container .login-form p a {
  text-decoration: none;
  color: grey;
}

.login-container .login-form p a:hover {
  text-decoration: none;
  color: blue;
}

.login-container .login-form .submit-btn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 4rem;
  color: white;
  font-weight: bold;
  background-color: #044b77;
  width: 360px;
  height: 44px;
}

.login-container .login-form .submit-btn:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

/*
daftar
*/
.overly {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.daftar-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 490px;
  display: none;
  position: fixed;
  top: 20%;
  left: 38%;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.daftar-container .daftar-title {
  margin-bottom: 20px;
  color: #333;
  margin-top: 2.5rem;
}

.daftar-container .daftar-title p a {
  text-decoration: none;
}

.daftar-container .daftar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.daftar-container .daftar-form .form-control {
  margin-bottom: 1rem;
  display: flex;
}

.daftar-container .daftar-form .form-control .form-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 310px;
  align-items: center;
  height: 44px;
}

.daftar-container .daftar-form .form-control .eye {
  position: absolute;
  margin-left: 300px;
  margin-top: 15px;
}

.daftar-container .daftar-form .form-input {
  border: none;
}

.daftar-container .daftar-form p {
  text-align: end;
  margin-right: 3px;
  margin-top: -8px;
}

.daftar-container .daftar-form p a {
  text-decoration: none;
  color: black;
}

.daftar-container .daftar-form .submit-btn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  background-color: #044b77;
  width: 330px;
  height: 44px;
}

.daftar-container .daftar-form .submit-btn:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logos-2 {
  /* overflow: hidden; */
  white-space: nowrap;
  margin: 1rem 6rem 0rem;
  position: relative;
  display: flex;
  overflow-x: hidden;
}

.logos-2::before,
.logos-2::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
}

.logos-2:hover .logo-slide-2 {
  animation-play-state: paused;
  flex-wrap: wrap;
}

.logo-slide-2 {
  display: flex;
  overflow-x: hidden;
  animation: 15s slide infinite linear;
  flex-shrink: 0;
  margin-bottom: 0rem;
}

.logo-slide-2 div#userReviews {
  display: flex;
  overflow: hidden;
  /* Ensure that the content stays in one line */
  margin: 0 1rem;
  /* Adjust margin as needed */
  height: 15rem;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.logo-slide-2 div.komentar-user {
  overflow: hidden;
  white-space: normal;
  /* Prevent text from wrapping onto new lines */
  text-overflow: ellipsis;
  /* Add ellipsis (...) to indicate truncated text */
}


/*
Footer
*/

footer {
  font-size: 18px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 20px;
  width: 100%;
  background-color: #02bbdd;
  color: #fff;
  text-align: center;
}