@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*
Header
*/

.navbar {
  background-color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 2 rem;
  height: 90px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar .navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
}

.navbar .navbar-brand h1 {
  color: #02bbdd;
  text-transform: uppercase;
}

.navbar .navbar-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.navbar .navbar-list .button {
  display: flex;
  align-items: center;
}

.navbar .navbar-list .button button {
  width: 95px;
  height: 40px;
  border-radius: 30px;
  background-color: #044B77;
  color: #ffffff;
}


.navbar .navbar-list .button button:hover {
  background-color: #3ad0ea; 
  color: #ffffff;
  background-color: #02bbdd;
  cursor: pointer;
  color: white;
}

.navbar .navbar-list .navbar-list-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar .navbar-list .list-item {
  list-style: none;
}

.navbar .navbar-list .navbar-list-item .list-item a {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  font-weight: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*
Jumbotron
*/

.jumbotron {
  width: 100%;
  height: 430px;
  background-color: #02bbdd;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.jumbotron .hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 5rem;
}

.jumbotron .hero h2 {
  font-size: 28px;
  font-weight: 700;
}

.jumbotron .hero p {
  font-size: 15px;
}

.jumbotron .hero .btn-hero {
  width: 100%px;
  height: 55px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.jumbotron .hero .btn-hero button {
  background-color: #044b77;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 44px;
  width: 200px;
  border-radius: 27.2px;
  font-size: 18px; 
}

.jumbotron .hero .btn-hero  button:hover {
  background-color: #3ad0ea; 
  color: #ffffff;
}

.jumbotron .hero-image {
  width: 100%;
}

.jumbotron .hero-image img {
  width: 497px;
  height: 349px;
}

/*
login
*/
/* body.popup-open {
  overflow: hidden;
} */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 1;
}

.login-container .login-title {
  margin-bottom: 20px;
  color: #333;
}

.login-container .login-title h2 {
  margin-top: -2rem;
}

.login-container .login-title p {
  font-size: 16px;
}

.login-container .login-title p a {
  text-decoration: none;
}

.login-container .login-form {
  display: flex;
  flex-direction: column;
}

.login-container .login-form .form-control {
  margin-bottom: 1rem;
  display: flex;
}

.login-container .login-form .form-control .form-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 330px;
  align-items: center;
  height: 44px;
}

.login-container .login-form .form-control .eye {
  position: absolute;
  margin-left: 330px;
  margin-top: 15px;
}

.login-container .login-form .form-input {
  border: none;
}

.login-container .login-form p {
  text-align: end;
  margin-right: 3px;
  margin-top: -8px;
}

.login-container .login-form p a {
  text-decoration: none;
  color: black;
}

.login-container .login-form .submit-btn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  background-color: #044b77;
  width: 370px;
  height: 44px;
}

/*
Content
*/

main {
  display: flex;
  flex-direction: column;
}

.konsultasi {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.konsultasi .content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}
.content h2 {
  font-size: 28px;
  font-weight: 700;
}

.content p {
  font-size: 14px;
}

.container-konsultasi {
  margin-top: 2rem;
  display: flex;
  flex-direction: colum;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.container-konsultasi .content-konsultasi {
  border: 1px solid black;
  border-radius: 10px;
  width: 350px;
  height: 150px;
}

.container-konsultasi .content-konsultasi .konsultasi-brand {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  margin: 1rem;
}

.container-konsultasi .content-konsultasi .konsultasi-brand h3 {
  margin-top: 10px;
}
.container-konsultasi .content-konsultasi p {
  margin: 1rem;
}

.garis {
  margin-top: 1rem;
  margin-left: 7rem;
  margin-right: 7rem;
}

/*
Section masalah 
*/
.masalah {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.masalah .content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
}

.masalah .container-masalah {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.masalah .container-masalah .content-masalah {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 250px;
  height: 68px;
  background-color: #044b77;
  justify-content: center;
  align-items: center;
  border-radius: 27.2px;
  color: white;
}

/*
section alasan
*/
.alasan {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.alasan .container-alasan {
  width: 100%;
  height: 400px;
  background-color: #02bbdd;
  text-align: center;
}

.alasan .container-alasan h2 {
  margin-top: 3rem;
  color: white;
}

.alasan .container-solusi {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: -15rem;
}

.alasan .container-solusi .content-solusi {
  height: 400px;
  width: 350px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  background-color: white;
}

/*
section rekomendasi 
*/

.rekomendasi {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.rekomendasi .content {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.rekomendasi .content h2 {
  font-weight: bold;
}

.rekomendasi .container-rekomendasi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

.rekomendasi .container-rekomendasi .content-rekomendasi {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 520px;
  border: 1px solid black;
  border-radius: 5px;
}

.btn-detail {
  width: 100%px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-detail button {
  background-color: #044b77;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 44px;
  width: 200px;
  border-radius: 27.2px;
  font-size: 18px;
}

.btn-detail button:hover {
  background-color: #3ad0ea; 
  color: #ffffff;
}

.rekomendasi .btn-detail {
  margin-top: 2rem;
}

/*
Footer
*/

footer {
  font-size: 20px;
  padding: 1.5em;
  height: 20px;
  background-color: #02bbdd;
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}
