@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}
/*
Tentang Kami
*/
.tentangkami {
  margin-top: 120px;
  margin-bottom: 50px;
}

.tentangkami h2 {
  color: #000;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}




.highlight-text {
  background-color: #02bbdd;
  height: 120px;
  text-align: left;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
  padding: 100px;
  line-height: 1.5;
}

p {
  text-align: center;
  padding: 5px;
  color: #000;
}

.img-tentangkami img {
  float: left;
}

#tim-pengembang {
  display: grid;
  place-items: center;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
  width: 1200px;
  height: 800px;
  box-sizing: border-box;
  /* margin-top: 50px; */
  margin: 50px auto;
}

#tim-pengembang  h2,h3 {
  color: #000;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.card.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.team-member {
  text-align: center;
  margin-top: 20px;
  width: 30%;
  flex: 0 1 calc(30% - 20px);
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
  list-style: none;
}

.social-icons img {
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
}

/*
login 
*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 400px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20%;
  left: 38%;
  z-index: 1;
}

.login-container .login-title {
  margin-bottom: 20px;
  color: #333;
}

.login-container .login-title h2 {
  margin-top: -1rem;
}

.login-container .login-title p {
  font-size: 16px;
}

.login-container .login-title p a {
  text-decoration: none;
}

.login-container .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container .login-form .form-control {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.login-container .login-form .form-control .form-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 310px;
  align-items: center;
  height: 44px;
}

.login-container .login-form .form-control .eye {
  position: absolute;
  margin-left: 300px;
  margin-top: 15px;
}

.login-container .login-form .form-input {
  border: none;
}

.login-container .login-form p {
  text-align: end;
  margin-left: 12rem;
  margin-top: -8px;
}

.login-container .login-form p a {
  text-decoration: none;
  color: grey;
}

.login-container .login-form p a:hover {
  text-decoration: none;
  color: blue;
}

.login-container .login-form .submit-btn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  background-color: #044b77;
  width: 340px;
  height: 44px;
}

.login-container .login-form .submit-btn:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

/*
daftar
*/
.overly {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.daftar-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
  height: 490px;
  display: none;
  position: fixed;
  top: 20%;
  left: 38%;
  z-index: 1;
  flex-direction: column;
  align-items: center;
}

.daftar-container .daftar-title {
  margin-bottom: 20px;
  color: #333;
  margin-top: 2rem;
}

.daftar-container .daftar-title p a {
  text-decoration: none;
  margin-top: 1rem;
}


.daftar-container .daftar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.daftar-container .daftar-form .form-control {
  margin-bottom: 1rem;
  display: flex;
}

.daftar-container .daftar-form .form-control .form-input {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
  align-items: center;
  height: 44px;
}

.daftar-container .daftar-form .form-control .eye {
  position: absolute;
  margin-left: 300px;
  margin-top: 15px;
}

.daftar-container .daftar-form .form-input {
  border: none;
}

.daftar-container .daftar-form p {
  text-align: end;
  margin-right: 3px;
  margin-top: -8px;
}

.daftar-container .daftar-form p a {
  text-decoration: none;
  color: black;
}

.daftar-container .daftar-form .submit-btn {
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 20px;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  background-color: #044b77;
  width: 330px;
  height: 44px;
}

.daftar-container .daftar-form .submit-btn:hover {
  background-color: #3ad0ea;
  color: #ffffff;
}

/*
Footer
*/

footer {
  font-size: 18px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 20px;
  width: 100%;
  background-color: #02bbdd;
  color: #fff;
  text-align: center;
}
